// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'components/card';
@import 'components/banner';
@import 'components/footer';

a {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

.back:hover {
   text-decoration: none;
}

.back {
  text-decoration: none;
}

